@import 'tailwindcss';
@plugin 'tailwind-scrollbar';
@plugin "tailwindcss-animate";

@plugin "daisyui" {
    themes: false;
}

@plugin "daisyui/theme" {
    name: 'light';
    default: true;
    --color-primary: #004f63;
    --color-secondary: #fb4002;
    --color-accent: #4ade80;
}

body,
html {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
